.boxExp {
    margin: 10px 50px;
    height: 200px;
    background-color: #EBEBEB;
    color: #505050;
    border-radius: 10px;
    
}

.boxExperience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.boxExperience:hover {
    background-color: #fefefe;
}

.experienceTitle {
    font-weight: 600;
}

.experienceP {
    font-weight: 300;
}

.experienceImg {
    margin: 10px 0;
    img {

        height: 100px;
    }
}