.containerLandingText {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    
}

.imageLanding {
    width: 10px;
    height: 10px;
}

.titleLanding {
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.animateTitleLanding {
    font-size: 25px;
    color: rgb(215, 61, 61);
    align-items: center;
    justify-content: center;
}